@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link href="/libraries/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" />
	<style>

		.navbar .navbar-nav .nav-item .nav-link {
			padding: 0 0.5em;
		}

		.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
			border-right: 2px solid #0f0457;
		}

	</style>
    @RenderSection("Styles", required: false)
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #8e8eed;">
	<div class="container-fluid" style="padding:0px;">
		@* <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #8e8eed;"> *@
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/News/AllNews">Recent News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/News/Index">News Control Panel</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
    @RenderBody()

    <script src="/libraries/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/libraries/jquery/jquery-3.7.0.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>