@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "To-Do List";
    // var selectedDate = ViewData["SelectedDate"] as DateTime?;
    // var tasks = ViewData["Tasks"] as List<WebApplication2_AboutMe.Models.Task>;
}
@section Links{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Styles{
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            gap: 20px;
        }

        .table-container {
            margin: 15px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        table {
            width: 80%;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
        }

        th {
            background-color: gray;
            cursor: pointer;
            user-select: none;
        }

        tr {
            border: 1px solid black;
        }

        #checkbox::before {
            content: var(--svgSortedLogo1);
        }

        #title::before {
            content: var(--svgSortedLogo2);
        }

        #date::before {
            content: var(--svgSortedLogo3);
        }

        .sorted-asc {
            background-color: rgb(144, 238, 144);
            font-style: italic;
        }

        .sorted-desc {
            background-color: rgb(230, 129, 129);
            font-style: italic;
        }

        label {
            margin-left: 20px;
        }

        #datepicker {
            width: 180px;
        }

            #datepicker > span:hover {
                cursor: pointer;
            }

        .completed {
            text-decoration: line-through;
        }

        .foot {
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        td[contenteditable=true] {
            outline: 2px solid #0af;
        }
    </style>
}


<div class="container-xl">
    <div class="row">
        <div class="col-xs-10 col-md-3">
            <div id="datepicker"></div>
            <input type="hidden" id="my_hidden_input">
        </div>
        <div class="col-xs-10 col-md-7">
            <div class="container">
                Task Title:
                <input size="50" id="taskTitle">
                <button onclick="AddTask()">ADD</button>
                @* <div>@selectedDate</div> *@
            </div>
            <div class="table-container">
                <table id="table">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:45%">
                        <col style="width:25%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th id="checkbox" onclick="sortTable(0)">Status</th>
                            <th id="title" onclick="sortTable(1)">Title</th>
                            <th id="date" onclick="sortTable(2)">Date</th>
                            <th id="delete">Delete</th>
                            <th id="edit">Edit</th>

                        </tr>
                    </thead>
                    <tbody id="tableBody">
                       
                    </tbody>
                </table>
            </div>
            <div class="foot">
                <button onclick="removeAllCompleted()">REMOVE ALL COMPLETED</button>
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>
     
    </script>
    <script src="~/local/js/to-do-list.js"></script>
}

